body {
  font-family: "poppins";
  background-color: rgb(53, 45, 64);
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
}
li a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
  margin: 0;
  padding: 0;
}
footer {
  color: white;
  background-image: linear-gradient(
      rgba(53, 45, 64, 0.8),
      rgba(53, 45, 64, 0.8)
    ),
    url("../images/san-diego-city-skyline-sunset-picture-36749-53381.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 30% top 20%;
  padding: 100px 0;
}
footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.9;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(
      rgba(99, 85, 120, 0.4),
      rgba(99, 85, 120, 0.8)
    ),
    url("../images/coronado-bridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: white;
  color: #272044;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  margin-top: 32px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.grid-three {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
}
@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  header a {
    margin-top: 12px;
    padding: 10px 14px;
  }
}
